body{
  background-color: rgba(210, 105, 30, 0.78);
  font-family: sans-serif;
  color: white;
}

.title{
  width: 100%;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
}

.headers h2{
  color: white;
  font-weight: 900;
  text-align: center;
}

.editor{
  background-color: white;
  color: black;
  font-size: 14pt;
  margin: 5px;
  width: 100%;
  height: 300px;
  border-radius: 3px;
  resize: none;
}

.buttons{
  margin-left: 5px;
}
